.layout-container {
  display: flex;
  min-height: calc(100vh - 64px - 50px); /* ajuste según altura de navbar/footer */
}

.main-content {
  flex-grow: 1;
  padding: 16px;
  background-color: #f4f4f4;
}
