<h2 mat-dialog-title>Programadores</h2>

<form [formGroup]="programadorForm" (ngSubmit)="guardar()" mat-dialog-content style="text-align: center;">
    <mat-form-field appearance="outline" style="margin-left: 10px;">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="NombresP">
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 10px;">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="ApellidosP">
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 10px;">
        <mat-label>Email</mat-label>
        <input matInput formControlName="EmailP">
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 10px;">
        <mat-label>Dpi</mat-label>
        <input matInput formControlName="DpiP">
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 10px;">
        <mat-label>Tel</mat-label>
        <input matInput formControlName="TelP">
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 10px;">
        <mat-label>Direccion</mat-label>
        <input matInput formControlName="DireccionP">
    </mat-form-field>

    <div style="text-align: right; margin-top: 10px;">
        <button mat-button type="button" (click)="cancelar()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">Guardar</button>
    </div>
</form>

